.contactMe{
  background-color: black;
}
.text {
  font-size: 150px;
  width: 0.8em;
}
#card {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -75%);
  color:white;
}
.card> svg{
  position: absolute;
  z-index: -11;
}
.myinfo{
  position: absolute;
  z-index: 11;
  left:10%;
  top:20%;
  font-family: Prompt;
}

#infoGrid {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 9px;
}
.info {
  border-radius: 40px 40px 40px 40px;
}
#name {
  background: #f0f1fd;
  grid-area: 1 / 1 / 2 / 2;
  padding: 30px 20px;
  border-radius: 40px;
}
#email {
  background: #fdf0f0;
  grid-area: 1 / 2 / 2 / 3;
}
#subject {
  background: #f0f1fd;
  grid-area: 1 / 3 / 2 / 4;
}
#submit {
  text-align: center;
  padding-top: 45%;
  flex-direction: column;
  background: rgb(255, 237, 237);
  background: radial-gradient(
    circle,
    rgba(255, 237, 237, 1) 16%,
    rgba(204, 220, 253, 1) 53%,
    rgba(190, 196, 253, 1) 85%
  );
  grid-area: 1 / 4 / 6 / 5;
  border-radius: 40px;
}
#submitbutton{
  background-color: transparent;
  border: none;
}
#message {
  background: #f0f1fd;
  grid-area: 2 / 1 / 6 / 4;
}
#Container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
#titleHolder {
  height: 20%;
  top: 25%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  display: flex;
}
.contactMe {
  height: 400vh;
  width: 100vw;
  margin-bottom: 200vh;
  color:black;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}
